<!DOCTYPE html>
<html>
<head>
  <title>Devise</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
<%= render 'layouts/user_header' %></div>
 <h1>SimpleDevise</h1>
 <br/>
 <%= render 'layouts/flash_partial' %>
<%= yield %>
</body>
</html>
